<!DOCTYPE HTML>

<html>

<head>
    <title>Street View de Mars - BE Web</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        {% include("layout/header.html") %}
        <!-- Main -->  

        <h3>Streetview</h3>

            {% if parameter %}
            
            <img src={{parameter[1]}}>

            <ul class="actions">
                <li><a href="/data/" class="button small">data parameter</a></li>
                <li><a href="/photo_droite/{{parameter[0]}}" class="button small">Droite</a></li>
                <li><a href="/photo_gauche/"+str({{parameter[0]}}) class="button small">Gauche</a></li>
                <li><a href="/photo_haut/"+str({{parameter[0]}}) class="button small">Haut</a></li>
                <li><a href="/photo_bas/"+str({{parameter[0]}}) class="button small">Bas</a></li>
                <li><a href="/photo_devant/"+str({{parameter[0]}}) class="button small">Devant</a></li>
                <li><a href="/photo_derriere/"+str({{parameter[0]}}) class="button small">Derrière</a></li>
            </ul>

            {% endif %}
        
        <!-- Footer -->
        {% include("layout/footer.html") %}

    </div>

    <!-- Scripts -->
    {% include("layout/scripts.html") %}

</body>

</html>