<!DOCTYPE HTML>

<html>

<head>
    <title>Structure de la base de données</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
    <style>
        .photo {
            width: 450px;
            height: 300px;
        }
    </style>
</head>

<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        {% include("layout/header.html") %}
        <!-- Main -->  
        <h3>Schéma relationnel de la base de données</h3>

        <img src="/static/images/BDD.PNG" style="max-width: 100%; max-height: 70vh; margin-top: 20px;">      



        {% include("layout/footer.html") %}

    </div>

    <!-- Scripts -->
    {% include("layout/scripts.html") %}

</body>

</html>