<!DOCTYPE HTML>

<html>

<head>
    <title>Xavier Dartevel</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        {% include("layout/header.html") %}
        <!-- Main -->  

        <h3>Xavier Dartevel</h3>
        <div><iframe src="/static/CV/CV_DRT.pdf" height="500" width="800"></iframe></div>
        

        <div><a href="/static/CV/CV_DRT.pdf">Ouvrez le document</a></div>

    <div class="photo_xavier">
            Le webmaster en question :
            <img src="/static/images/webmaster_xavier.jpg" class = "photo_xavier">
    </div>
        <!-- Footer -->
        {% include("layout/footer.html") %}

    </div>

    <!-- Scripts -->
    {% include("layout/scripts.html") %}

</body>

</html>